<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Animal Listing></title>
</head>
<body>
<h1>Animals Listed</h1>
<form>
	<table>
	<tr th:each="eA : ${animals}">
		<td th:text="${eA.id}"/>
		<td th:text="${eA.ArlId}"/>
		<td th:text="${eA.animalName}"/>
		<td th:text="${eA.animalType}"/>
		<td th:text="${eA.breed}"/>
		<td th:text="${eA.aproxAge}"/>
		<td th:text="${eA.weight}"/>
		<td th:text="${eA.description}"/>
		<td th:text="${eA.contact.name}"/>
		<td th:text="${eA.contact.phone}"/>
		<td th:text="${eA.contact.email}"/>
		<td th:text="${eA.contact.address}"/>
		<td th:text="${eA.contact.city}"/>
		<td th:text="${eA.contact.state}"/>
		<td><a th:href="@{/edit/{id}(id=${eA.id})}">Edit Animal info</a></td>
		<td><a th:href="@{/delete/{id}(id=${eA.id})}">Delete Entery</a></td>
	</table>
</form>
<a href="arl-homepage">Return to ARL Homepage</a>
</body>
</html>